<!DOCTYPE html>
<html>
    <head>
        <title>Add Student</title>
        <body>
            <a href="/students">Back to List</a>
            <form method="POST" action="/students/add">
                <input type="text" name="name" placeholder="Enter your name"/><br/>
                <input type="text" name="course" placeholder="Enter your course"/><br/>
                <input type="text" name="duration" placeholder="Enter your duration"/><br/>
                <input type="submit" value="Add Student"/><br/>
            </form>
        </body>
</html>