<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <body>
            <h1>{{header}}</h1>
            <p>{{para}}</p>
            <a href="/students">Students' List</a>
        <body>
</html>