<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
        <body>
            <a href="/students">Back to List</a>
            <h1>{{name}}</h1>
            <p>{{course}}</p>
            <p>{{duration}}</p>
        <body>
</html>